.footer{
    &__flex{
        padding: 50px 0 84px 0;
        display: flex;
    }
}

.top{
    align-items: flex-start;
    margin-right: auto;

    &__logo{
        margin-bottom: 50px;
    }

    &__svg{
        width: 186px;
    }
}

.nav{
    display: flex;
    
    &-box{
        margin-right: 80px;

        &:last-of-type{
            margin-right: 0;
        }
    }
}

.bottom{
    display: flex;
    padding: 20px 0 65px 0;

    &__words{
        margin-right: 30px;

        &:last-of-type{
            margin-right: 0;
        }
    }

    &__bep{
        order: -1;
        margin-right: auto;
    }
}
