.header{
    padding: 0;
    padding-top: 56px;
    margin-bottom: 30px;
    &__nav{
        display: block;
    }

    &__ul{
        display: flex;
    }

    &__li{
        margin-right: 48px;

        &:last-child{
            margin-right: 0;
        }
    }
    
    &__link{
        font-weight: 500;
        font-size: 16px;
        color: var(--#{$prefix}color-nav-header);
        &:active{
            color: var(--#{$prefix}color-active);
        }
    }
}

.burger{
    display: none;
}