.why-us{
   display: flex;
   padding: 44px 98px 44px 70px;
   margin-bottom: 153px;

    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        @include titleStyle(600, 48px, 56px);
        margin-bottom: 24px;
    }

    &__words{
        @include wordsStyle(500, 14px, 24px);
    }

   &__foto{
        order: -1;
   }

   &__svg{
        width: 500px;
        margin-right: 82px;
   }
}