.few-words{
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 1px;
        background: var(--#{$prefix}white);
        opacity: .1;
    }

    &__flex-i{
        padding: 32px 32px 0;
    }

    &__gradient{
        position: absolute;
        width: 309px;
        height: 309px;
        background: linear-gradient(135.15deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
        mix-blend-mode: overlay;
        filter: blur(80px);
        left: -97px;
    }

    &__title{
        @include titleStyle(600, 36px, 54px);
        margin-bottom: 24px;

        &_yellow{
            color: var(--#{$prefix}color-span);
        }
    }

    &__p{
        @include wordsStyle(400, 14px, 24px);
        margin-bottom: 30px;
        align-self: flex-start;

        &:first-of-type{
            margin-bottom: 15px;
        }
    }

    &__foto{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

       
    }
    
    &__svg{
        width: 70%;
        max-width: 500px;
        max-height: 500px;
        margin-bottom: 32px;
    }

    &__gradient-foto{
        display: none;
    }
}