.footer{
    margin: 0 16px;

    &__flex{
        position: relative;
        padding: 39px 0 48px 0;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 1px;
            background: var(--#{$prefix}white);
            opacity: .1;
        } 

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            height: 1px;
            background: var(--#{$prefix}white);
            opacity: .1;
        } 
    }
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo{
        margin-bottom: 24px;
    }

    &__icons{
        display: flex;
        margin-bottom: 42px;
    }

    &__icon{
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background: var(--#{$prefix}bg-icons);
        border-radius: 5px;

        &:last-of-type{
            margin-right: 0px;
        }
    }


}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    margin-bottom: 20px;
    
    &__title{
        @include titleStyle(700, 16px, 24px);
        margin-bottom: 20px;
    }
    
    &-box{
        margin-bottom: 32px;

        &:nth-child(3){
            margin-bottom: 42px;
        }

        &:nth-child(4){
            margin-bottom: 42px;
        }
    }
    
    &__li{
        margin-bottom: 14px;
    }
    
    &__link{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--#{$prefix}white);
    }
}

.bottom{
    font-weight: 500;
    font-size: 12px;
    color: var(--#{$prefix}white);
    padding: 20px 0 30px 0;

    &__first{
        display: flex;
        justify-content: center;
    }

    &__words{
        margin-right: 30px;
        margin-bottom: 32px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__bep{
        text-align: center;
    }
}