.gamers{
    // position: relative;
    background: var(--#{$prefix}bg-color-b);
    margin: 0 12px;
    border-radius: 24px;
    padding: 30px 30px 42px;
    margin-bottom: 64px;
    z-index: 2;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__gradient{
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            left: -186px;
            top: -186px;
            width: 389px;
            height: 389px;
            background: linear-gradient(135.15deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
            mix-blend-mode: overlay;
            filter: blur(80px);
        }
    }

    &-bg-under{
        position: absolute;
        margin: 0 12px;
        width: calc(100% - 24px);
        bottom: -13px;
        left: 0;
        height: 100px;
        background: #3c454d;
        border-radius: 48px;
    }

    &__title{
        @include titleStyle(600, 32px, 48px);
        margin-bottom: 24px;
        align-self: flex-start;
    }

    &__words{
        @include wordsStyle(500, 14px, 24px);
        margin-bottom: 32px;
    }

    &__foto{
        width: 100%;
        margin-bottom: 48px;
        display: flex;
        justify-content: center;
    }

    &__svg{
        width: 90%;
        max-width: 400px;
    }

    &__ul{

    }

    &__li{  
        &_first{
            @include addSvgForLearn(pay);
            margin-bottom: 40px;
            margin-left: 60px;
        }

        &_second{
            @include addSvgForLearn(bar);
            margin-bottom: 40px;
            margin-left: 60px;
        }

        &_third{
            @include addSvgForLearn(starr);
            margin-bottom: 40px;
            margin-left: 60px;
        }

        &_fourth{
            @include addSvgForLearn(check);
            margin-left: 60px;
        }
    }

    &__h3{
        @include styleH3(600, 20px, 24px);
        margin-bottom: 16px;
    }

    &__line{
        width: 100%;
        height: 3px;
        bottom: 0;
        background: var(--#{$prefix}color-line);
        opacity: .15;
        margin-bottom: 40px;
    }
}