html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: initial;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
