@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

$prefix: artem- !default;
$fontFamilyInter: 'Inter', sans-serif;
$fontFamilyPoppins: 'Poppins', sans-serif;

$path: '../../../images/';

$white: #FFF;
$bgColor: #1E252B;
$colorTitle: #F9F9F9;
$colorLinkOnBtn: #F9F9F9;
$colorOnBtnBorder: #F9F9F9;
$colorSubTitle: #ADB0B6;
$bgColorButton: #F7A501;
$colorSpan: #F7A501;
$bgColorBox: #2C353D;
$colorWordsWhoBox: #ADB0B6;
$colorLine: #748FB5;
$colorWords: #ADB0B6;
$bgColorOffer: rgba(40, 48, 54, 0.3);
$bgColorOfferCard: #1E252B;


$colors: (
    "white": $white,
    "bgColor": $bgColor,
    "colorTitle": $colorTitle,
    "colorSubTitle": $colorSubTitle,
    "bgColorButton": $bgColorButton,
    "colorLinkOnBtn": $colorLinkOnBtn,
    "colorOnBtnBorder": $colorOnBtnBorder,
    "bgColorBox": $bgColorBox,
    "colorWordsWhoBox": $colorWordsWhoBox,
    "colorLine": $colorLine,
    "colorSpan": $colorSpan, 
    "colorWords": $colorWords,
    "bgColorOffer": $bgColorOffer,
    "bgColorOfferCard": $bgColorOfferCard,
)!default;