@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

$prefix: artem- !default;
$fontFamilyInter: 'Inter', sans-serif;
$fontFamilyPoppins: 'Poppins', sans-serif;

$path: '../images/';

$bgColor: #1E252B;
$colorTitle: #F9F9F9;
$colorLinkOnBtn: #F9F9F9;
$colorOnBtnBorder: #F9F9F9;
$colorSubTitle: #ADB0B6;
$bgColorButton: #F7A501;
$bgColorWhoBox: #2C353D;


$colors: (
    "bgColor": $bgColor,
    "colorTitle": $colorTitle,
    "colorSubTitle": $colorSubTitle,
    "bgColorButton": $bgColorButton,
    "colorLinkOnBtn": $colorLinkOnBtn,
    "colorOnBtnBorder": $colorOnBtnBorder,
    "bgColorWhoBox": $bgColorWhoBox,
)!default;